build/
other/

.env
.vscode
.DS_STORE
node_modules
.module-cache
package-lock.json

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

client/.DS_STORE
client/node_modules
client/.module-cache
client/package-lock.json